@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer base {
  :root {
    /* Brand colors converted to HSL */
    --background: 0 0% 100%; /* #FFFFFF */
    --foreground: 18 5% 17%; /* #2C2825 */
    --card: 0 0% 100%;
    --card-foreground: 18 5% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 18 5% 17%;
    --primary: 222 38% 31%; /* #2C4175 */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 93.7%; /* #EFEFEF */
    --secondary-foreground: 18 5% 17%;
    --muted: 205 25% 66%; /* #A9BAC6 */
    --muted-foreground: 205 25% 46%;
    --accent: 40 27% 58%; /* #B69A6F */
    --accent-foreground: 18 5% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89%; /* #E3E3E3 */
    --input: 0 0% 89%;
    --ring: 222 38% 31%;
    --radius: 0.5rem;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
